{% extends 'base.html' %}
{% block title %} Listado {% endblock %}
{% block content %}
<h2 class="text-center">Lista</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium impedit maiores necessitatibus
    laudantium placeat, omnis commodi deserunt culpa ipsa quibusdam ea recusandae minus explicabo maxime, quo
    vero iste eveniet reprehenderit. Amet recusandae, odio nesciunt, natus quo eos velit magni voluptas eum,
    sequi adipisci voluptatum tempora sapiente. Sint, quam! Consequuntur ad suscipit veritatis quia magni ipsum
    iusto officia excepturi, libero porro optio, iste reprehenderit at recusandae doloremque nostrum pariatur
    consequatur aperiam eveniet? Eveniet dolor doloribus quas ipsam nam, dignissimos odit nulla eius impedit,
    iusto iste voluptas! Maiores, iste qui doloremque incidunt, vitae quaerat ullam nobis, omnis animi
    blanditiis quam odit cupiditate.</p>
{% endblock %}